<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/createIdeal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="/image/logo.png" alt="">
        </div>
        <div class="home">
            <button>Home</button>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Create</button>
            <div class="dropdown-content">
                <a href="#">Create an idea Pin</a>
                <a href="#">Create a Pin</a>
            </div>
        </div>
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="search">
        </div>
        <div class="menu">
            <i class="fa-solid fa-bell"></i>
            <i class="fa-regular fa-comment-dots"></i>
        </div>
        <div class="avatar">
            <img src="/image/img/anh2.jpeg" alt="">
        </div>
        <div class="infor">
            <i class="fa-solid fa-angle-down"></i>
        </div>
    </div>
<!-- up loat -->

    <div class="container">
        <div class="notify">
            <h1>Draft Pin your idea</h1><br>
            <span>Start with a New Idea Pin or continue designing a recent draft</span><br>
            <button id="btnCreate">Create New</button><br>
            <div id="notify">Your draft</div><br>
        </div>
    </div>

    <!-- uphere -->
    <div class="main" id ="main">
        <div class="upload">
            <h2>Upload  content to create a Pin </h2>
            <i class="fa-sharp fa-solid fa-x" id="back"></i>
            <i class="fa-solid fa-question"></i>
            <input type="file" id="upFile" accept="image/png, image/jpg, image/gif, image/jpeg"/>
            <span>we recommend using high-quality .jpg file 
                Under 20MB or hight-quality .mp4 file under 100MB in size
            </span>
        </div>
    
    </div>
    


</body>
<script src="./createIdeal.js"></script>
</html>