<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/details.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <%- include("navbar")%>

        <div class="content">
            <div class="img">
                <img src="./anh7.jpeg" alt="">
            </div>
            <div class="textContent">
                <div class="saveBlog">
                    <div class="icon"> 
                        <i class="fa-solid fa-ellipsis"></i>
                        <i class="fa-solid fa-arrow-up-from-bracket"></i>
                        <i class="fa-solid fa-paperclip"></i>
                    </div>
                    <button id="btnSave">Save</button>
                </div>
                <div class="tilte">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    
                </div>
                <div class="comment">
                    <span>100 Comment</span>
                    <div class="text-comment">
                        <div class="user-comment">
                            <img src="./anh11.jpeg" alt="">
                            <span class="user">Chien nguyen</span>
                            <span >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure iste
                                 nulla odit voluptatem delectus illum tempore dolore dignissimos veniam dicta 
                                 ab quae, omnis corporis neque minus! Cupiditate neque unde labore!</span>
                        </div>
                        <div class="response">
                            <small>1d</small> 
                            <small>response</small> 
                            <small><i class="fa-regular fa-heart"></i>53</small> 
                            <small><i class="fa-solid fa-ellipsis"></i></small>
                        </div>
                    </div>
                    
                </div>
                <div class="input">
                    <img src="/anh12.jpeg" alt="">
                    <input type="text" placeholder="comment">
                </div>
            </div>

            
           
        </div>

        <!-- san phamlien quan  -->
       

      




</body>
<script src="./details.js"></script>

</html>