<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <img src="/image/logo.png" alt="">
        </div>
        <div class="home">
            <button>Home</button>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Create</button>
            <div class="dropdown-content">
                <a href="http://localhost:3000/create-ideal">Create an idea Pin</a>
                <a href="#">Create a Pin</a>
            </div>
        </div>
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="search">
        </div>
        <div class="menu">
            <i class="fa-solid fa-bell"></i>
            <i class="fa-regular fa-comment-dots"></i>
        </div>
        <div class="avatar">
            <img src="/image/img/anh2.jpeg" alt="">
        </div>
        <div class="infor">
            <i class="fa-solid fa-angle-down"></i>
        </div>
    </div>
    <div class="containerHome">
        <div class="grid--content">
            <div class="column--wrapper">
                <% for(var i=0; i<value.length; i++) {%>
                    <div class="post--item" id="<%=value[i].blogID %>" >
                        <img  src="<%=value[i].urlIMg %>" alt="Random Image" data-index="<%=i %>" class="image">
                        <div class="post-user">
                            <a href="/blog/" target="_blank" rel="noopener">
                                <img src="https://source.unsplash.com/collection/888146/100x100" alt="User Image">
                                <span><%=value[i].userName %></span>
                            </a>
                        </div>
                        <p> Link here</p>
                        <i class="fa-solid fa-arrow-up-from-bracket"></i>
                        <i class="fa-solid fa-ellipsis"></i>
                        <button>Save</button>
                    </div>
                 <% } %>
            </div>
        </div>
    </div>
    

</body>
<script src="/home.js"></script>

</html>