<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="/image/logo.png" alt=""> 
            <span>Pinterest</span>
        </div>
        <div class="sideBar">
            <ul>
                <li>About</li>
                <li>Bussiness</li>
                <li>Press</li>
            </ul>
            <button id="logIn">Log in</button>
            <button id="signUp">Sign Up</button> 
        </div>
    </div>
    <div class="containerLogin">
        <div class="content">
            <span>Get Your Next</span>
        </div>
        <div class="masonry">
            <div class="mItem">
              <img src="/image/img/anh1.jpeg">
            </div>
            <div class="mItem">
              <img src="/image/img/anh2.jpeg">
            </div>
            <div class="mItem">
              <img src="/image/img/anh3.jpeg">
            </div>
            <div class="mItem">
              <img src="/image/img/anh4.jpeg">
            </div>
            <div class="mItem">
              <img src="/image/img/anh6.jpeg">
            </div>
            <div class="mItem">
              <img src="/image/img/anh7.jpeg">
            </div>
            <div class="mItem">
              <img src="/image/img/anh9.jpeg">
            </div>
            <div class="mItem">
              <img src="/image/img/anh10.jpeg">
            </div>
            <div class="mItem">
              <img src="/image/img/anh1.jpeg">
            </div>
            <div class="mItem">
              <img src="/image/img/anh11.jpeg">
            </div>
            <div class="mItem">
              <img src="/image/img/anh12.jpeg">
            </div>
            <div class="mItem">
              <img src="/image/img/anh13.jpeg">
            </div>
            <div class="mItem">
              <img src="/image/img/anh13.jpeg">
            </div>
          
            <div class="mItem">
              <img src="/image/img/anh3.jpeg">
            </div>
            <div class="mItem">
              <img src="/image/img/anh9.jpeg">
            </div>
          
            <div class="mItem">
              <img src="/image/img/anh2.jpeg">
            </div>
            <div class="mItem">
              <img src="/image/img/anh1.jpeg">
            </div>
          
            <div class="mItem">
              <img src="/image/img/anh3.jpeg">
            </div>
          
            <div class="mItem">
              <img src="/image/img/anh4.jpeg">
            </div>
            <div class="mItem">
              <img src="/image/img/anh2.jpeg">
            </div>
          </div>
    </div>
    <div id="findIdead">
        <div class="getIdeal">
            <div class="imgItem1">
                <img src="/image/anhmeal/meal1.jpeg" alt="">
            </div>
            <div class="imgItem2">
                <img src="/image/anhmeal/meal2.jpeg" alt="">
            </div>
            <div class="imgItem3">
                <img src="/image/anhmeal/meal3.jpeg" alt="">
            </div>
            <div class="imgItem4">
                <img src="/image/anhmeal/meal4.jpeg" alt="">
            </div>
            <input type="text" placeholder="Bí quyến chế biến thịt chó ngon">
        </div>
        <div class="searchIdeal">
            <div class="textContent">
               <h2> tìm kiếm ý tưởng</h2>
                <p>
                    Tìm kiếm điều gì đó mà bạn quan tâm
                 (chẳng hạn như "công thức nấu gà dễ dàng") và xem điều gì sẽ xảy ra.</p>
                 <button>Khám Phá</button>
            </div>
        </div>

    </div>
    <div class="registerLayout">
        <div class="signUp" id="registerLayout">
            <img src="/image/logo.png" alt="">
            <div class="welcome">
                Welcome to Pinterest
            </div>
            <form id="form">
                <label for="mail">mail</label><br>
                <input type="text" name="mail" id="email" ><br>
                <small>err</small><br>
                <label for="password">password</label><br>
                <input type="text" name="password" id="passWord" ><br>
                <small>err</small><br>
                <label for="age">age</label ><br>
                <input type="number" name="age" id="age" ><br>
                <small>err</small><br>
                <button id="btnSignUp" type="submit">continute</button><br>
                    <span>or</span>
            </form>
            <div class="social">
                <button id="facebook">Login with Facebook</button>
                <button id="google">Login with google</button>
            </div>
            <small id="notice">Already have an account? please log in</small>
        </div>
    </div>

    <div class="logIn">
        <div class="signIn">
            <img src="/image/logo.png" alt="">
            <div class="welcome">
                Welcome to Pinterest
            </div>
            <form id="logIn-form">
                <label for="mail">mail</label><br>
                <input type="text" name="mail" id="mail"><br>
                <small>error</small><br>
                <label for="password">password</label><br>
                <input type="text" name="password" id="password"><br>
                <small id="message">error</small><br>
                <p>forgot password</p><br>
                <button id="btnLogIn">Log in</button><br>
                <span>or</span>
            </form>
            <div class="social">
                <button id="facebook">Login with Facebook</button>
                <button id="google">Login with google</button>
            </div>
            <small id="notice">Already have an account? please log in</small>
        </div>
    </div>
</body>
  <script src="/login.js"></script>
</html>