<div class="navbar">
    <div class="logo">
        <img src="/image/logo.png" alt="">
    </div>
    <div class="home">
        <button>Home</button>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Create</button>
        <div class="dropdown-content">
            <a href="http://localhost:3000/create-ideal">Create an idea Pin</a>
            <a href="#">Create a Pin</a>
        </div>
    </div>
    <div class="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="search">
    </div>
    <div class="menu">
        <i class="fa-solid fa-bell"></i>
        <i class="fa-regular fa-comment-dots"></i>
    </div>
    <div class="avatar">
        <img src="/image/img/anh2.jpeg" alt="">
    </div>
    <div class="infor">
        <i class="fa-solid fa-angle-down"></i>
    </div>
</div>